%job-page-header{ ':job-owner' => 'job.jobOwner',
  ':job-id' => 'job.jobId',
  ':user-can-create-issue' => 'job.userCanCreateIssue',
  ':user-can-retry-job' => 'job.userCanRetryJob',
  ':retry-job-url' => 'job.retryJobUrl',
  ':new-issue-url' => 'job.newIssueUrl',
  ':job-triggered-at' => 'job.jobTriggeredAt',
  ':job-retryable' => 'job.jobRetryable',
  ':job-failed' => 'job.jobFailed',
  ':ci-status-text' => 'job.ciStatusText',
  ':ci-status-title-text' => 'job.ciStatusTitleText' }
