.no-attachment-icon img {
  cursor: zoom-in;
}

.lb-modal {
  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (min-width: 576px) {
      max-width: none;
    }
  }

  img {
    max-width: 100%;
    margin: 0 auto;
  }
}
